<a href="https://colab.research.google.com/github/AndrewStaines/AIML/blob/main/Gradient_Boost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train = pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/test.csv')

In [ ]:
train.info() , test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

(None, None)

In [ ]:
train.set_index("PassengerId",inplace=True)
test.set_index("PassengerId",inplace=True)

In [ ]:
y_tr = train["Survived"]

In [ ]:
train.drop(labels='Survived',axis=1,inplace=True)

In [ ]:
train.shape

(891, 10)

In [ ]:
tr_te=train.append(test)

<ipython-input-118-c527b8718cb9>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tr_te=train.append(test)

In [ ]:
columns=['Name','Age','SibSp','Ticket','Cabin','Parch','Embarked']
tr_te.drop(labels=columns,axis=1,inplace=True)

In [ ]:
tr_te_d = pd.get_dummies(tr_te, columns=['Sex'])

In [ ]:
tr_te_d.shape

(1309, 4)

In [ ]:
tr_te_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      1309 non-null   int64
 1   Fare        1308 non-null   float64
 2   Sex_female  1309 non-null   uint8
 3   Sex_male    1309 non-null   uint8
dtypes: float64(1), int64(1), uint8(2)
memory usage: 33.2 KB

In [ ]:
tr_te_d.fillna(value=0.0,inplace=True)

In [ ]:
x_tr = tr_te_d.values[0:891]
x_te = tr_te_d.values[891:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scl = MinMaxScaler()
x_tr_scl = scl.fit_transform(x_tr)
x_te_scl = scl.transform(x_te)

In [ ]:
from sklearn.model_selection import train_test_split

x_trs,x_tes,y_trs,y_tes = train_test_split(x_tr_scl,y_tr,random_state=0)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
lr = [0.05,0.1,0.25,0.5,0.75,1]
for i in lr:
  gb=GradientBoostingClassifier(n_estimators=20, learning_rate=i , max_features=7, max_depth=2, random_state= 0)
  gb.fit(x_trs,y_trs)
  print("Learning Rate:\n",i)
  print("Training {0:.3f}".format(gb.score(x_trs, y_trs)))
  print("Validate {0:.3f}".format(gb.score(x_tes, y_tes)))

Learning Rate:
 0.05
Training 0.783
Validate 0.798
Learning Rate:
 0.1
Training 0.816
Validate 0.803
Learning Rate:
 0.25
Training 0.820
Validate 0.803
Learning Rate:
 0.5
Training 0.843
Validate 0.812
Learning Rate:
 0.75
Training 0.844
Validate 0.807
Learning Rate:
 1
Training 0.861
Validate 0.825